./config.yml
./config.yaml
config.yml
build/bin/*
site
etc
build/rcagent.spec
site
rcagent.pem
rcagent.key
rcagent.exe
rcagent
resource.syso
rcagent-*.msi
rcagent-*.tar.gz
rcagent-*.rpm
rcagent-*.deb
conf.d
cover.out
plugins/manager
